.registry {
  padding: 15px;
  background-color: white;
  display: flex;
  input {
    height: 30px;
    margin-left: 10px;
  }
}
.default-btn {
  width: 80px;
  margin: 0;
  margin-left: 20px;
  height: 30px;
}
