* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
button,
input {
  outline: none;
}
.app {
  background-color: #f5f5f5;
  width: 100%;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.head-menu {
  text-align: center;
  color: white;
  padding: 15px 10px;
  height: 50px;
  background-color: var(--blue-1);
  text-align: center;
}
.menu {
  text-align: center;
  height: 100%;
  width: 12%;
  position: fixed;
  z-index: 1;
  overflow-y: scroll;
  background-color: var(--blue-1);
}
.menu > .bar {
  /* font-family: "Muli", "Source Sans Pro" !important; */
  font-size: 14px;
  /* line-height: 1.5; */
  /* width: 80%; */
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
  box-sizing: inherit;
  color: var(--text-color);
}
.menu > .bar:hover,
.menu > .bar.active {
  color: #fff !important;
  background-color: var(--blue-2) !important;
}
.container {
  padding: 15px;
  margin-left: 12%;
  height: 100%;
  width: 88%;
  background-color: #eee;
  /* font-family: "Muli", "Source Sans Pro"; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.content {
  width: 100%;
  padding: 20px;
  background-color: white;
  align-items: center;
}
.content > .search {
  background-color: var(--blue-3);
  padding: 10px 10px 20px 20px;
  margin-bottom: -10px;
}
.content > .search > input {
  height: 25px;
  min-width: 250px;
  outline: none;
  margin-left: 0.5%;
  margin-bottom: 20px;
}
.head-tag,
.content {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.head-body {
  display: flex;
  flex-direction: row;
  margin-top: -20px;
}
.head-body > .head-icon {
  color: var(--blue-2);
  padding-top: 20px;
  padding-left: 20px;
  font-size: 30px;
}
.head-body > .h {
  padding-left: 20px;
  color: var(--text-color);
  font-weight: 600;
  /* flex-basis: 40%; */
}
.name-user {
  font-size: 15px;
  padding-top: 20px;
  /* flex-basis: 75%; */
}
.head-body > div > .tab {
  cursor: pointer;
}
.head-body > div > li {
  cursor: pointer;
  display: block;
}
.t {
  position: absolute;
  display: inherit;
  margin-top: -20px;
}
.avatar {
  cursor: pointer;
  opacity: 1;
}
.t > ul > li {
  cursor: pointer;
  background-color: white;
  /* position: absolute; */
  /* top: 100%; */
  z-index: 1000;
  /* display: none; */
  padding: 10px;
  /* margin: 2px 0 0; */
  font-size: 14px;
  text-align: left;
  list-style: none;
  /* background-color: #fff; */
  /* border-radius: 6px; */
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  cursor: pointer;
  right: 0;
  left: auto;
  width: 150px;
}

.but {
  margin: 2px 2px 2px 2px;
  padding: 15px;
  width: 20px;
  height: 20px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  color: white;
}
.but:hover {
  cursor: pointer;
}

.default-btn {
  margin: 0.8%;
  padding: 10px;
  cursor: pointer;
  background-color: var(--green);
  color: white;
  float: right;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 2px;
  outline: none;
}
.default-btn:disabled,
.default-btn:disabled:hover {
  background-color: #ddd;
  cursor: default;
}
.default-btn:active {
  border: none;
}
.default-btn:hover {
  background-color: var(--blue-2);
  /* background-image: none; */
}

.btn-blue {
  background-color: royalblue;
}
.btn-red {
  background-color: #c83a3a;
}
.btn-yellow {
  background-color: #f4a838;
}
.btn-green {
  /* background-color: #7db641; */
  color: #7db641;
}
.btn-magenta {
  background-color: #ac14ea;
}

.btn-red:hover {
  background-color: #d84a4a;
}
.btn-blue:hover {
  background-color: #6189f1;
}
.btn-green:hover {
  background-color: #9dc651;
}
.btn-yellow:hover {
  background-color: #f8b848;
}
.btn-magenta:hover {
  background-color: #bc34fa;
}

.icon {
  color: white;
}
.i {
  margin: 2px 2px 2px 2px;
  padding: 12px;
  width: 20px;
  height: 20px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  color: white;
  cursor: pointer;
}
.icon-green {
  font-size: 20px;
  color: var(--green);
}
.icon-yellow {
  font-size: 20px;
  color: var(--yellow);
}
.icon-blue {
  font-size: 20px;
  color: var(--blue);
}
.icon-mangeto {
  font-size: 20px;
  color: #ac14ea;
}
.icon-red {
  font-size: 20px;
  color: var(--red);
}

.tooltip.in {
  opacity: 1;
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  -o-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}

.tooltip {
  opacity: 0;
  transition: opacity, transform 0.2s ease;
  -webkit-transform: translate3d(0, 5px, 0);
  -moz-transform: translate3d(0, 5px, 0);
  -o-transform: translate3d(0, 5px, 0);
  -ms-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
}

.tooltip.left .tooltip-arrow {
  border-left-color: #ffffff;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #ffffff;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #ffffff;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #ffffff;
}

.tooltip-inner {
  padding: 10px 15px;
  min-width: 130px;
}
.ant-tooltip {
  left: 1000;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
/* push 11:04  */