.background {
  margin-top: -5%;
  padding: 15% 35% 11% 35%;
  background-image: linear-gradient(to right, #ef456b, #425af0);
  // height: 700px;
}
.login {
  // margin: 0% 20% 0 20%;
  padding: 5% 10% 0 10%;
  height: 400px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 20px;
}
.login > div {
  margin-bottom: 7px;
}

.login > div > label {
  font-size: 17px;
  font-weight: 490;
}

.login > div > input {
  width: 330px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #aaa;
  font-size: 18px;
  padding-left: 30px;
}
.login > div > input:focus {
  width: 328px;
  height: 38px;
  border: 2px solid var(--blue);
  outline: none;
}
.login > div > button {
  margin-top: 20px;
  padding: 12px;
}
.login > div > button > span {
    margin-left: 5px;
}
  