.header {
    height: 70px;
}

.header__cart,
.header__logo,
.header__search {
    margin-top: -25px;
}
.container {
    margin: 0 5% 0 14%;
    padding: 0 1% 5% 1%;
    height: 100%;
    width: 100%;
    /* height: auto; */
}

.content {
    width: 85%;
    padding: 20px;
    background-color: white;
    align-items: center;
}

.head_tag {
    width: 85%;
    background-color: #eee;
    padding: 20px 10px;
    font-size: 18px;
    border: 1px solid #aaa;
    margin-bottom: 0px;
}

.image {
    width: 50px;
    height: 48px;
    float: left;
    margin-left: 20px;
}
table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 5px;
    font-size: 15px;
    font-weight: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

tr {
    background-color: #fafafa;
}

tr:nth-child(even) {
    background-color: #eee;
}

.list_product_order {
    background-color: #FFFFFF;
    border-width: 1px;
    border-radius: 3px;
    border-color: #d0d0d0;
    border-style: solid;
    margin-top: 2px;
    height: 50px;
    width: 100%;
}

.list_product_order:hover {
    background-color: #f9f9f9;
    border-width: 1px;
    border-radius: 3px;
    border-color: #c0c0c0;
    border-style: solid;
    margin-top: 2px;
    height: 50px;
    width: 100%;
}

.btn-default {
    color: #fff;
    background-color: #7db641;
    border-color: #7db641;
    margin-top: 10px;
    border-radius: 2px;
    float: right;
}

.btn-default.active,
.open .dropdown-toggle .btn-default,
.btn-default:not(.btn-ud, .btn-dt, .btn-rm):hover,
.btn-default:active {
    color: #fff;
    background-color: #c83a3a !important;
    border-color: #c83a3a;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn {
    margin-right: 5px;
    padding: 16px;
}

.btn-ud {
    background-color: royalblue;
}

.btn-rm {
    background-color: #c83a3a;
}

.btn-ck {
    background-color: #f4a838;
}

.btn-rm:hover {
    background-color: #d84a4a;
}

.btn-ud:hover {
    background-color: #6189f1;
}

.btn-dt:hover {
    background-color: #8dc651;
}

.btn_next {
    width: 40px;
    height: 30px;
    margin-top: 10px;
    float: right;
    padding-top: 4px;
    text-align: center;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.create-form {
    width: 160%;
    margin-left: -30%;
    padding-bottom: 10%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    /* Hidden Children*/
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
}

.create_input,
.update_input,
.ud-store-input,
.create-store-input,
.create-evaluate-input,
.select-product {
    width: 85%;
    height: 40px;
    margin: 10px 0 2px;
    padding: 0 12px;
    border: 1px solid #8d8d8d;
    font-size: 1.1rem;
    border-radius: 2px;
    tab-size: 2;
}

.scrollable-menu {
    max-height: 100px;
    overflow-x: hidden;
}

.create-evaluate-input {
    width: 100%;
}

.create_input:hover {
    border-color: var(--var-color);
}

.create_input:focus {
    border-color: #595959;
}

.create_groups {
    display: flex;
    flex-direction: column;
}

.create_btn_cancel {
    color: #fff;
    background-color: #7db641;
    border-color: #7db641;
    margin-right: 8px;
    /* margin-top: -23%; */
    /* border: 1px solid #8D8D8D; */
    font-size: 0.9rem;
}

.create_btn_cancel:hover {
    background-color: #c83a3a;
    border-color: #c83a3a;
    margin-right: 8px;
    /* border: 1px solid #8D8D8D; */
    color: #fff;
    font-size: 0.9rem;
}

.menu_select {
    border: 1px solid #999;
    background-color: burlywood;
    text-align: center;
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    overflow: auto
}

.w3-button {
    width: 100%;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    white-space: nowrap
}

.w3-bar-block {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.w3-button:hover {
    color: #000!important;
    background-color: #ccc!important
}