.App {
  text-align: left;
}

:root {
  --red: #be4942;
  --blue: #2e91ae;
  --yellow: #f19a1e;
  --green: #60a860;
  --cyan: #88c999;
  --red1: #4CAF50;
  --var-color: #f54d10;
  --text-color: #212121;
  --white-color: white;
  --star-gold-color: #ffce3e;
  --header-height: 135px;
  --navbar-height: 33px;
  --header-with-search-height: calc( var(--header-height) - var(--navbar-height));
  --header-sort-bar-height: 46px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}