.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --red: #be4942;
  --blue: #2e91ae;
  --yellow: #f19a1e;
  --green: #60a860;
  --cyan: #88c999;
  --red1: #4CAF50;
  --var-color: #f54d10;
  --text-color: #212121;
  --white-color: white;
  --star-gold-color: #ffce3e;
  --header-height: 135px;
  --navbar-height: 33px;
  --header-with-search-height: calc( var(--header-height) - var(--navbar-height));
  --header-sort-bar-height: 46px;
}


/* width */

::-webkit-scrollbar {
  width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}